<header class="site-header" role="banner">
  <a class="skip-link screen-reader-text" href="#content">Skip to content</a>

  <div class="wrapper">
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    <nav class="site-nav" role="navigation" aria-label="Primary">
      <div class="trigger">
        {%- for path in site.pages -%}
          {%- if path.nav_exclude != true and path.title and path.layout != nil -%}
            <a class="page-link" href="{{ path.url | relative_url }}">{{ path.title | escape }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    </nav>
  </div>
</header>
