<header>
  <a href="#main-content">Skip to main content</a>

  <p class="site-title"><a href="{{ '/' | relative_url }}">{{ site.title }}</a></p>

  <ul class="site-socials" aria-label="Find Kyle on the web">
    <li><a href="mailto:kyle@kylekeane.com">Email</a></li>
    <li><a href="https://www.linkedin.com/in/KyleKeane">LinkedIn</a></li>
    <li><a href="https://github.com/KyleKeane">GitHub</a></li>
    <li><a href="https://orcid.org/0000-0003-3243-4412">ORCID</a></li>
    <li><a href="https://research-information.bris.ac.uk/en/persons/kyle-m-keane/">Bristol Pure profile</a></li>
  </ul>

  <nav aria-label="Main navigation">
    <ul>
      {%- assign nav_pages = site.pages
         | where_exp: "p", "p.nav_include == true"
         | sort: "nav_order" -%}

      {%- for p in nav_pages -%}
        {%- if p.title -%}
          <li>
            <a href="{{ p.url | relative_url }}">{{ p.title }}</a>
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </nav>
</header>
